@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --header: #57A0CA;
  --table: #e8e8e8;
  --flagContainer: #2e84a7;
  --green: #5ba51a;
  --blue: #1c9ed1; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: EB Garamond;
}

body {
  background-color: var(--green);
}

.header {
  background-color: #57A0CA;
  text-align: center;
}

.title {
  padding: 1rem;
  font-size: 36px;
}

.desc {
  font-size: 20px;
}

/* main content section */
.content-container > * {
  margin-bottom: 2rem;
}

#dropdown {
  margin: 1rem 0;
  font-size: 20px;
  padding: .2rem;
  background-color: #e9e9e9;
  color: var(--blue);
}

.country-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
}

.country-list li {
  list-style: none;
  font-size: 19px;
  cursor: pointer;
  background-color: #e9e9e9;
  padding: .5rem;
  color: var(--blue);
  border-radius: 5px;
  margin: .2rem;
  letter-spacing: 1px;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.country-list li:hover {
  background-color: #d8d8d8;
}

/* style flag image */
.flag-container {
  background-color: var(--flagContainer);
  padding: 2rem;
  display: none;
  width: 625px;
  margin: 0 auto 2.2rem auto;
  text-align: center;
  border-radius: 10px;
}

.flag {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* style table */
.country-table {
  width: 500px;
  display: none;
  margin: auto;
  background-color: var(--table);
  overflow-x: auto;
}

.country-table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th, td {
  padding: .5rem;
}

th {
  color: var(--blue);
  font-size: 20px;
}

td {
  font-size: 18px;
}

@media only screen and (max-width: 900px) {
  .country-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .country-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .flag-container {
    width: 85%;
    padding: 1rem;
  }
}
